:root {
  --Tomato: rgb(255, 98, 87);
  --Dark-Slate-Grey: rgb(36, 39, 66);
  --Charcoal-Grey: rgb(54, 56, 78);
  --Grey: rgb(146, 148, 160);
  --White: rgb(255, 255, 255);
}
@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Robotob;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Dark-Slate-Grey);
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--Dark-Slate-Grey);
}

.container {
  display: flex;
  align-items: center;
  width: 800px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--White);
}

.leftside {
  width: 60%;
  padding: 20px 50px 20px 30px;
}
.rightside {
  width: 40%;
}
.rightside img {
  width: 100%;
}
h1 {
  font-family: "Robotob";
  font-weight: 700;
  font-size: 40px;
  color: var(--Dark-Slate-Grey);
}
p{
  margin: 20px 0;
}
ul {
  list-style-image: url(./assets/images/icon-list.svg);
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  
}
form input {
  padding: 15px 20px;
  border: 1px solid var(--Grey);
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  color: var(--Grey);
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-container label {
  margin: 10px 0;
  font-weight: 700;
  font-size: 11px;
  font-family: "Roboto";
}

#mydiv {
  font-size: 11px;
  color: var(--Tomato);
}

button {
  background-color: var(--Charcoal-Grey);
  color: var(--White);
  padding: 15px 20px;
  font-family: inherit;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    border-radius: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .container h1 {
    font-size: 30px;
  }
  .leftside {
    width: 100%;
    padding: 20px;
  }
  .rightside{
    width: 100%;
  }
  .rightside img {
    content: url(./assets/images/illustration-sign-up-mobile.svg);
    
  }
  form {
    width: 90%;
  }
  .card {
    min-height: 100vh;
    min-width: 100%;
  }
}

.hide {
  display: none;
}
.card {
  background-color: white;
  width: 400px;
  padding: 40px;
  border-radius: 4px;
}
.card h1 {
  font-size: 40px;
}
.card button {
  width: 100%;
}
